# qr-code-component-main
qr-code-component-main/design/

# results-summary-component
results-summary-component/design/

# results-summary-component
results-summary-component/design/

# clipboard-landing-page
clipboard-landing-page/design/

# age-calculator-app challenges
age-calculator-app/design/
age-calculator-app/README-template.md
