*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* ## Primary colors ## */
  --font-color:       rgb(255 255 255 / .9);
  --background-color: rgb(32, 32, 32);
  --primary-color:    hsl(246, 80%, 60%);
  --work-color:       hsl(15, 100%, 70%);
  --play-color:       hsl(195, 74%, 62%);
  --study-color:      hsl(348, 100%, 68%);
  --exercise-color:   hsl(145, 58%, 55%);
  --social-color:      hsl(264, 64%, 52%);
  --self-care-color:  hsl(43, 84%, 65%);
  /* ## Neutral colors ## */
  --very-dark-blue:   hsl(226, 43%, 10%);
  --dark-blue:        hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue:        hsl(236, 100%, 87%);
  /* ## Measurements ## */
  --cards-radius: 16px;
  /* ## Font weights ## */
  --light-font-weight:  300;
  --normal-font-weight: 400;
  --bold-font-weight:   500;
  

  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  font-weight: var(--normal-font-weight);
  line-height: 1.5;
  color-scheme: light dark;
  color:              var(--font-color);
  background-color:   var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
}

#app {
  width: 100vw;
}

.dashboard {
  width: 100%;
  padding: 2rem;
}

@media (width >= 920px) {
  body { align-items: center }

  #app {
    max-width: 1440px;
  }

  .dashboard {
    max-height: 680px;
    height: 100vh;
    display: flex;
    column-gap: 4rem;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
