.calc-form-container {
  padding: clamp(1rem, 6vw, 2rem);
}

.calc-form__reset {
  color: var(--color-text-normal);
  background: none;
  border: none;
  border-block-end: 1px solid var(--color-text-normal);
  cursor: pointer;
}
.calc-form__reset:hover {
  color: var(--color-text-bold);
}

.inputs__mortgage-conditions {
  --gap: 1.5em;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.user-input:has(.required-field)::after {
  content: 'This field is required';
  font-size: var(--font-size-s);
  color: var(--color-error);
}

.input-field {
  display: flex;
  align-items: center;
  font-size: var(--font-size-m);
  font-weight: var(--font-bold);
  background-color: var(--color-slate-100);
  border: 1px solid var(--color-text-normal);
  border-radius: 0.25em;
  overflow: hidden;
}
.input-field:hover,
.input-field:has(> .input--numeric:focus) {
  color: var(--color-text-bold);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  cursor: pointer;
}
.input-field:has(> .required-field) {
  color: var(--white);
  font-weight: var(--font-normal);
  background-color: var(--color-error);
  border-color: var(--color-error);
}

.input--numeric {
  width: 0;
  padding-block: 0.5em;
  padding-inline: 0.75em;
  flex-grow: 1;
  color: var(--color-text-bold);
  font-size: inherit;
  font-weight: inherit;
  line-height: 1.4;
  border: none;
  outline: none;
}
.input--numeric:hover {
  cursor: pointer;
}
.input--numeric:focus {
  cursor: text;
}

.input__unit {
  padding-inline: 0.75em;
  text-align: center;
}

.calc-form__mortgage-types {
  border: none;
  padding-block-start: 0.75em;
}

.mortgage-type-option {
  padding-block: 0.5em;
  padding-inline: 1em;
  gap: 1em;
  color: var(--color-text-bold);
  line-height: 1.4;
  background-color: transparent;
}
.mortgage-type-option:has(> input:checked) {
  background-color: hsl(from var(--color-primary) h s l / 0.3);
  border-color: var(--color-primary);
}
.mortgage-type-option label {
  cursor: pointer;
}

.mortgage-type-option input[type='radio'] {
  --size: 1.25em;
  width: var(--size);
  height: var(--size);
  appearance: none;
  border-radius: 50%;
  border: 1px solid var(--color-text-bold);
  transition: 0.3s all ease-out;
}
.mortgage-type-option input:checked {
  border: 0.25em solid var(--white);
  outline: 0.125em solid var(--color-primary);
  background-color: var(--color-primary);
}

.button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-size: var(--font-size-m);
  font-weight: var(--font-bold);
}

.button-submit span {
  line-height: 1;
}

@media (width > 768px) {
  .calc-form-container {
    width: 50%;
  }

  .calc-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .calc-form__reset {
    height: fit-content;
  }

  .inputs__mortgage-conditions {
    width: 100%;
    flex-direction: row;
  }

  .inputs__mortgage-conditions .user-input {
    flex-grow: 1;
  }

  .button-submit {
    margin-block-start: 0.5em;
    padding-inline: 1.75em;
    place-self: flex-start;
  }
}
