* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    /* colors */
    /* ## primary ## */
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* ## neutral ## */
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    font-family:'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: var(--light-gray);
}


.testimonial {
    margin: 20px;
    padding: 24px 54px 20px 32px;
    font-size: 1.3rem;
    border-radius: 12px;
}

.testimonial-1 {
    color: var(--light-gray);
    background-color: var(--moderate-violet);
}

.testimonial-2 {
    color: var(--light-gray);
    background-color: var(--very-dark-grayish-blue);
}

.testimonial-3 {
    color: var(--very-dark-blackish-blue);
    background-color: var(--white);
}

.testimonial-4 {
    color: var(--light-gray);
    background-color: var(--very-dark-blackish-blue);
}

.testimonial-5 {
    color: var(--very-dark-blackish-blue);
    background-color: var(--white);
}

.testimonial-3 .title, .testimonial-5 .title {
    color: var(--very-dark-blackish-blue);
}

.title {
    margin-top: 20px;
    color: var(--white);
    font-size: 1.9rem;
    line-height: 26px;
}

.person-title {
    margin-top: 4px;
    opacity: 50%;
}

.message {
    margin-top: 20px;
    font-size: 1.3rem;
    opacity: 70%;
    line-height: 20px;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }