*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  /* ## Colors
  ### Primary */
  --strong-cyan: rgb(38, 186, 164);
  --light-blue:  rgb(97, 115, 255);
  /* ### Neutral */
  --dark-grayish-blue: rgb(76, 84, 93);
  --grayish-blue:      rgb(159, 171, 178);
}

body {
  width: 100vw;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: normal;
}

h1 {
  margin-block: 2.0rem;
  text-align: center;
  font-size: 3.2rem;
}

h2 {
  margin-block: 2.0rem;
  text-align: center;
  font-size: 2.8rem;
}

h3 {
  margin-block: 4rem 2rem;
}

a {
  color: var(--dark-grayish-blue);
  text-decoration: none;
}
a:hover {
  color: var(--strong-cyan);
}

.text-desc {
  margin-block-end: 2rem;
  color: var(--grayish-blue);
  line-height: 2.4rem;
}

.text--center {
  text-align: center;
}

.text--small {
  font-size: 1.6rem;
}

.header-main {
  width: 100%;
  padding: 28px 28px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/bg-header-mobile.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 140px;
  height: 140px;
  background-image: url('../img/logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main .logo {
  margin-block: 80px 60px;
}

.download-buttons {
 width: 100%;
 margin-block-start: 2rem;
}

.btn {
  width: 100%;
  margin-block: 12px;
  padding-block: 16px;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  border-radius: 28px;
  cursor: pointer;
}

.btn--green {
  color: #fff;
  background-color: var(--strong-cyan);
  box-shadow: 0px 8px 14px rgba(38,186,164,0.2),inset 0px -4px 4px rgba(0, 0, 0, .1);
}

.btn--blue {
  color: #fff;
  background-color: var(--light-blue);
  box-shadow: 0px 8px 14px rgba(97, 115, 255,0.2),inset 0px -4px 4px rgba(0, 0, 0, .1);
}

main {
  width: 100%;
  padding: 28px 28px 150px;
  text-align: center;
}

section {
  margin-block-start: 16rem;
}

img {
  width: 100%;
  margin-block-start: 40px;
}

.icon-box {
  margin-block-start: 8rem;
  display: flex;
  justify-content: center;
}

.icon {
  --icon-size: 4.8rem;
  width: var(--icon-size);
  height: var(--icon-size);
  display: block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-blacklist {
  background-image: url('../icons/icon-blacklist.svg');
}
.icon-plain-text {
  background-image: url('../icons/icon-text.svg');
}
.icon-preview {
  background-image: url('../icons/icon-preview.svg');
}

.logo-companies {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  row-gap: 80px;
  list-style: none;
}

.logo-companies li {
  width: 100%;
}
.logo-company {
  width: 100%;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.logo-google {
  background-image: url('../img/logo-google.png');
}
.logo-ibm {
  background-image: url('../img/logo-ibm.png');
}
.logo-microsoft {
  background-image: url('../img/logo-microsoft.png');
}
.logo-hp {
  background-image: url('../img/logo-hp.png');
}
.logo-vector {
  background-image: url('../img/logo-vector-graphics.png');
}

footer {
  width: 100%;
  padding-block-start: 4rem;
  background-color: rgba(159, 171, 178, .1);
}

footer .logo {
  width: 60px;
  height: 60px;
}

.footer-nav {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-menu {
  margin-block: 4rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  row-gap: 2.4rem;
  list-style: none;
}

.footer-social {
  margin-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4rem;
  font-size: 2.8rem;
  list-style: none;
}

.attribution { font-size: 1.1rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (width > 425px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }

  main {
    padding-inline: 0;
    text-align: start;
  }

  .header-main {
  background-image: url('../img/bg-header-desktop.png');
  }

  h1 {
    font-size: 4rem;
  }

  section {
    margin-block-end: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 70%;
  }

  .text--center {
    max-width: 48%;
  }

  .download-buttons {
    max-width: 64rem;
    display: flex;
    column-gap: 2rem;
  }

  .snippets-features-wrap {
    width: 100%;
    display: flex;
  }s

  .snippets-features-wrap img {
    width: 52%;
    transform: translateX(-40px);
  }

  .snippets-features {
    width: 26%;
    padding-block-start: 4rem;
    padding-inline-start: 7rem;
  }
}