task-card { height: 100% }

.tasks-board {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  justify-content: center;
}

@media (width >= 920px) {
  .tasks-board {
    width: 75%;
    padding: 0;
    gap: 4rem;
    overflow-y: scroll;
  }
}

@media (width >= 1310px) { 
  .tasks-board { overflow-y: hidden } 
}