.task-card { 
  position: relative;
  margin-block: 2rem;
}

.card-header {
  width: 100%;
  height: calc(40px + 20px);
  background-repeat: no-repeat;
  background-position-x: 94%;
  background-position-y: 50%;
  border-start-start-radius: var(--cards-radius);
  border-start-end-radius: var(--cards-radius);
}

.card-header.work {
  background-color: var(--work-color);
  background-image: url('/src/assets/icons/icon-work.svg');
}

.card-content {
  position: absolute;
  top: 40px;
  width: 100%;
  padding: 2.5rem 2.2rem;
  background-color: var(--dark-blue);
  border-radius: var(--cards-radius);
}
.card-content:active {
  background-color: hsl(236, 41%, 34%);
  cursor: pointer;
}
.card-content:hover { cursor: pointer }

.content-header {
  display: flex;
  justify-content: space-between;
}

.card-option {
  width: 2.4rem;
  height: 2.4rem;
  mask: url('/src/assets/icons/icon-ellipsis.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  background: var(--pale-blue);
  cursor: pointer;
}
.card-option:hover { background: var(--font-color) }

.times {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-time {
  font-size: 3.2rem;
  font-weight: 300;
}

.prior-time {
  color: var(--pale-blue);
  font-weight: 300;
}