@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  /* Colors */
  --primary-color:   hsl(  4, 100%,  67%);
  --dark-slate-grey: hsl(234,  29%,  20%);
  --charcoal-grey:   hsl(235,  18%,  26%);
  --grey:            hsl(231,   7%,  60%);
  --white:           hsl(  0,   0%, 100%);
  /* Paths */
  --hero-img-mobile:  url('../img/illustration-sign-up-mobile.svg');
  --hero-img-desktop: url('../img/illustration-sign-up-desktop.svg');
}

body {

  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
  background-color: var(--dark-slate-grey);
}

.newsletter-signup {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--white);
  overflow-wrap: break-word;
}

.hero-img {
  width: inherit;
  height: 284px;
  background-image: var(--hero-img-mobile);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-container {
  padding: 4rem 2rem;
}

.form-title {
  margin-block-end: 2rem;
  font-size: 4rem;
}

.form-features {
  margin-block: 3rem;
  list-style: none;
}

.form-features li{
  margin-block-end: 1.2rem;
  display: flex;
}
.form-features li::before {
  content: url(../icons/icon-list.svg);
  margin-inline-end: 1.6rem;
}

#formSignup {
  display: flex;
  flex-direction: column;
}

#formSignup label {
  font-size: 1.2rem;
  font-weight: 700;
}

#formSignup input {
  margin-block: 0.6rem;
  padding: 1.2rem;
  font: inherit;
  border: 1px solid var(--grey);
  border-radius: 8px;
}

.btn {
  margin-block: 2rem;
  padding-block: 1.6rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: var(--white);
  background-color: var(--dark-slate-grey);
  border: none;
  border-radius: 8px;
}


/* Success message */

.success-msg {
  display: none;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--light-grey);
}

.attribution { font-size: 11px; font-weight: 400; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }